.box{
    width: 100%;
    height: calc(100vh - 85px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    background-color: rgba(0,0,0,0.7);
}
.welcome{
    font-family: 'OpenSans';
    font-size: 104px;
    line-height: 70px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 5px;

    color: #FFFFFF;

    /*margin: 0;*/
    animation: animationTitleText 2.5s 1;
}
@keyframes animationTitleText {
    0%{
        letter-spacing: 0px;
    }
    70%{
        letter-spacing: 16px;
    }
    100%{
        letter-spacing: 5px;
    }
}


.intro{
    font-family: 'OpenSans';
    font-size: 58px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #FFFFFF;
    /*margin: 0;*/
    margin-top: 2%;

    animation: animationDescText 1s 1;
}

@keyframes animationDescText {
    0%{
        transform: translateY(200px);
    }
}